.rankingTableDiv
{
    margin:auto;
    width: 50%;
}
.rankingTable
{
    table-layout: fixed ;
    width: 100% ;
    column-gap: 50px;
}
.rankingTableIndex 
{
    width: 50%;
    border: 1px solid black;
}