
.columns {
    display: flex;
  }
  
  .col + .col {
    margin-left: 1.5em;
  }

  .more-stuff-grid {
    background: #f4f4f4;
    padding: 4em 0;
    display: grid;
    grid-gap: 2em;
    align-items: center;
    grid-template-columns: minmax(3em, 4fr) repeat(2, minmax(600px, 800px)) minmax(
        3em,
        4fr
      );
  }

  img {
    width:100%;
    height:100%;
    object-fit: fill;
}
body
{
    overflow-x: hidden;
}

#rankingsHeader
{
    text-align: center;
    font-size:400%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
}

@media(max-width: 1000px)
{
      .rankingTimestamp
      {
        display:none;
      }
      .more-stuff-grid {
        background: #f4f4f4;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
      }
    
}


